@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    /*
    Medidas Absolutas
    cm, mm, in, px, pt, pc
    
    Medidas Relativas
    em, ex, rem, vw, vh, %
    16px geralmente = 1em*/
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    /*lighter, normal, bold, bolder*/
}
h1{
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
}
h2{
    text-decoration: underline;
}